<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta name="keywords" content="Unity Infotech" />
    <title>@ViewData["Title"] - Unity Infotech</title>
    <meta name="description" content="Unity Infotech" />
    <meta property="og:title" content="Unity Infotech" />
    <meta property="og:site_name" content="Unity Infotech" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="/assets/media/logos/favicon.ico" asp-append-version="true" />
    <link href="/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="/assets/css/style.bundle.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="/assets/css/custom.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <script src="/js/Aes.min.js" asp-append-version="true"></script>
    <script src="/js/Pbkdf2.min.js" asp-append-version="true"></script>
    <script src="/js/AesHelper.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Styles", false)
    <style asp-add-nonce="true">
        .validation-summary-errors ul {
            list-style: none;
        }
    </style>
</head>
<body id="kt_body" class="bg-body" oncopy="return false;" onpaste="return false;" oncut="return false;">
 <div class="d-flex flex-column flex-root">
        <div class="d-flex flex-column flex-column-fluid">
            <div class="container-fluid px-0">
                <div class="row g-0 min-vh-100">
                    <div class="col-md-6 order-1 order-md-1 login-bg bgi-position-y-bottom bgi-position-x-start bgi-size-cover loginlayout">
                        <div class="login-mask bg-secondary"></div>
                        <div class="row g-0 my-auto welcome-txt">
                            <div class="col-10 col-lg-9 mx-auto">
                                <div class="svg-container mb-5">
                                    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 69.55">
                                        <defs>
                                            <style type="text/css" asp-add-nonce="true">
                                                .cls-1 {
                                                    fill: #0f73c1;
                                      
                                                }

                                                .cls-2 {
                                                    fill: #88caff;
                                                }

                                                .cls-3 {
                                                    fill: #fff;
                                                }

                                                .cls-4 {
                                                    fill: #43bbff;
                                                }
                                            </style>
                                        </defs>
                                        <path class="cls-1" d="M112.41,21.08a3.16,3.16,0,0,0-4.53.09l-5,5.23L117,40,122,34.73a3.31,3.31,0,0,0-.09-4.53l-9.53-9.12Z" transform="translate(0 0)" />
                                        <path class="cls-2" d="M93.24,64.9,76,69.52c-.62.12-.86-.12-.76-.71l3.9-17.47L98.38,31l14.08,13.56L93.24,64.9Z" transform="translate(0 0)" />
                                        <polygon class="cls-3" points="12.72 44.19 60.57 44.19 60.57 48.66 12.72 48.66 12.72 44.19 12.72 44.19" />
                                        <polygon class="cls-3" points="12.72 30.97 70.36 30.97 70.36 35.44 12.72 35.44 12.72 30.97 12.72 30.97" />
                                        <path class="cls-4" d="M105.47,2.05a6.93,6.93,0,0,0-4.93-2H7A7,7,0,0,0,0,7V56.71a7,7,0,0,0,7,7H67.6l1-4.47H7A2.53,2.53,0,0,1,4.47,56.7v-39H99.29l2.41-2.51a11.84,11.84,0,0,1,3.72-2.62,12,12,0,0,1,2.1-.7V7A7,7,0,0,0,105.47,2.05ZM103,13.26H4.47V7a2.53,2.53,0,0,1,.74-1.77A2.49,2.49,0,0,1,7,4.47h93.55A2.53,2.53,0,0,1,103,7Z" transform="translate(0 0)" />
                                    </svg>
                                </div>
                                <h4 class="text-4 text-white">Welcome...</h4>
                                <h1 class="text-10 text-light text-white mb-4"><br /><span></span></h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex flex-column order-2 order-md-2">
                        <div class="container my-auto py-5">
                            <div class="row mx-0">
                                <div class="col-11 col-lg-9 col-xl-8 mx-auto">
                                    <div class="text-center">
                                        <a href="#" class="logo mb-12">
                                            <img alt="Logo" src="/assets/media/logos/logo.png" class="login-logo" />
                                        </a>
                                    </div>
                                    @RenderBody()
                                    <div class="d-flex flex-center flex-column-auto p-10">
                                        <div class="d-flex align-items-center fw-bold fs-6">
                                            @*<a href="@Url.Action("About", "Home")" class="text-muted text-hover-primary px-2">About</a>*@
                                            @*<a href="@Url.Action("ContactUs", "Home")" class="text-muted text-hover-primary px-2">Contact Us</a>                                                                                *@
                                            <a download class="text-muted text-hover-primary px-2" href="~/assets/pdf/Dummy.pdf">Policy</a>

                                        </div>
                                    </div>
                                    @*<p class="text-muted text-center mb-0 appversion">Version : @_appVersion.AssemblyVersion © @DateTime.Now.Year <a href="#">Unity Infotech</a>. All Rights Reserved.</p>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @await Component.InvokeAsync("NToastNotify")

    <script src="/assets/plugins/global/plugins.bundle.js" asp-append-version="true"></script>
    <script src="/assets/js/scripts.bundle.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>

@section scripts{

        <script>
            $(function () {
                $('#pdfModal').on('show.bs.modal', function (e) {
                    var link = $(e.relatedTarget);
                    var url = link.data('url');
                    var modal = $(this);
        </script>


}