@model Frontend.DTO.Request.ChangePasswordRequestDTO

@*@{
    ViewData["Title"] = "ChangePassword";
}*@
@*@model Ufx.Client.Mvc.ViewModels.Manage.ChangePasswordViewModel*@
@{
	Layout = "_MenuLayout";

	ViewBag.Title = "Change Password";
}
<div class="toolbar">
	<div class="container-fluid d-flex flex-stack">
		<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
			<h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">@ViewData["Title"]</h1>
			<span class="h-20px border-gray-200 border-start mx-4"></span>
		</div>
		<div class="d-flex align-items-center py-1">
			<a asp-controller="Manage" asp-action="Profile" class="btn btn-light-primary btn-sm">
				<i class="fas fa-chevron-circle-left"></i>&nbsp;Back to Profile
			</a>
		</div>
	</div>
</div>
<form id="myForm" asp-controller="Account" asp-action="ChangePassword" class="form mb-15 fv-plugins-bootstrap5 fv-plugins-framework">
	<div class="card">
		<div class="card-body">
			<div class="fv-row mb-8">
				<div style="color: #dc3545;">
					<b>Password Policy</b>
					<ul>
						<li>Minimum length should be 6 characters</li>
						<li>Maximum allowed length is 20 characters</li>
						<li>At least one numeric character is required</li>
					</ul>
				</div>
			</div>
			<div class="row mb-5">
				<div class="d-flex col-md-3"></div>
				<div class="col-md-6 fv-row fv-plugins-icon-container">
					@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "fs-5 fw-bold mb-2" })
					@Html.EditorFor(model => model.Password, new { htmlAttributes = new {@class = "form-control form-control-solid",
					autocomplete="off",placeholder = @Html.DisplayNameFor(m => m.Password)}})
					@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row mb-5">
				<div class="d-flex col-md-3"></div>
				<div class="col-md-6 fv-row fv-plugins-icon-container">
					@Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "fs-5 fw-bold mb-2" })
					@Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new {@class = "form-control form-control-solid",
					autocomplete="off",placeholder = @Html.DisplayNameFor(m => m.NewPassword)}})
					@Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
				</div>
			</div>
			<div class="row mb-5">
				<div class="d-flex col-md-3"></div>
				<div class="col-md-6 fv-row fv-plugins-icon-container">
					@Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "fs-5 fw-bold mb-2" })
					@Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new {@class = "form-control form-control-solid",
					autocomplete="off",placeholder = @Html.DisplayNameFor(m => m.ConfirmPassword)}})
					@Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
				</div>
			</div>
			<hr />
			<div class="d-flex justify-content-end">
				<button type="submit" class="btn btn-success me-2 submitbutton btn-sm">
					<i class="fas fa-key"></i>
					<span class="indicator-label">Change Password</span>
					<span class="indicator-progress">
						Please wait...
						<span class="spinner-border spinner-border-sm align-middle ms-2"></span>
					</span>
				</button>
				<a asp-controller="Manage" asp-action="Profile" class="btn btn-light-primary btn-sm">
					<i class="fas fa-chevron-circle-left"></i>&nbsp;Back to Profile
				</a>
			</div>
		</div>
	</div>
</form>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script type="text/javascript" asp-add-nonce="true">
	$(document).ready(function () {
		let submitButton = $('.submitbutton')[0];
		submitButton.addEventListener('click', function (e) {
			e.preventDefault();
			if($('#myForm').valid()) {
				$('.submitbutton').attr("data-kt-indicator","on");
				$('form').submit();
				submitButton.disabled = true;
				setTimeout(function() {
					$('.submitbutton').removeAttr('data-kt-indicator');
					submitButton.disabled = false;
				}, 2000);
			}
		});
	});
</script>
}

@*<h1>ChangePassword</h1>

<h4>ChangePasswordRequestDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@